{{ template "layout_app.tpl" . }}


{{ define "content" }}
           <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Create Mongo Db</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

           <div class="row">
                <div class="col-lg-12">
		        <div class="well"> <p> TBD </p> </div>
                </div>
            </div>
{{ end }}

