{{ template "layout.tpl" . }}


{{ define "content" }}
        <h1 class="page-header">Template Page for get {{ .Request }}</h1>

        <div class="well"> <p> TBD </p> </div>

        <h1 class="page-header"> Response </h1>
        <div class="well"> <p> {{ .Response }} </p> </div>

{{ end }}

